@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;1,200;1,400;1,500;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
}

body{
    height: 100%;
    width: 100%;
    background: #18181B;
    background-position: center;
    background-size: cover;
    flex-shrink: 0;
}
/* Nav Bar begins */
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 1397px;
    height: 45px;
    padding: 10px 5px;
    background: #18181B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
/* adjusting the logo */
.logos{
    display: flex;
    width: 250px;
}
.logo{
    display: flex;
    width: 250;
    flex-direction: column;
    flex-shrink: 0;
    color: #F43F5E;
    font: #FFFFFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 3px;
    text-transform: uppercase;   
}
/* Navigation adjustment */
.navbar{
    position: fixed;
    right: 300px;
    margin: 0 auto;
    justify-content: space-between;
    word-spacing: 30px;
}
/* navbar words */
.navbar a {
    position: relative;
    font-size: small;
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
}
/* navbar animation */
.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 1px;
    background: #FFF;
    transition: .3s;
}

.navbar a:hover::before{
    width: 100%;
}

.travel{
    display: flex;
    position: fixed;
    right: 80px;
    width: 150px;
    height: 25px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    flex-direction: column;
    border-radius: 10px;
    border: none;
    background: #00A7B1;
    color: var(--base-white, #FFF);
    cursor: pointer;
    /* travel button */
}
/* navbar ends here */

/* conent box begins here */
.container01{
    position: absolute;
    box-sizing: content-box;
    margin: 10% 130px;
    width: 666px;
    height: 412px;
}
.line{
    position: absolute;
    margin: 10px 150px;
    width: 12px;
    height: 1.5px;
    background: #71717A;
}
.mini-words h2{
    color: var(--gray-500, #71717A);
    position: absolute;
    margin: 0 170px;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    text-transform: uppercase;
    line-height: 21px;
}
/* the main title */
.Culture{
    box-sizing: border-box;
    position: absolute;
    margin: 160px 140px;
    
}
.Culture h1{
    display: flex;
    width: 666px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    font-size: 140px;
    font-style: normal;
    font-weight: 800;
    line-height: 106px;
    background-image: linear-gradient(150deg,rgba(255, 51, 55, 1), rgba(248, 202, 83, 1), rgba(0, 154, 144, 0.479), rgb(0, 0, 0));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.para{
    position: absolute;
    margin: 415px 245px;
    display: flex;
    width: 410px;
    flex-direction: column;
    flex-shrink: 0;
    color:var(--gray-100, #F4F4F5);;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    padding: auto;
    font-weight: 400;
    line-height: 17px;
}
/* conent box ends here */

/* Card Box starts here */
.card{
    box-sizing: border-box;
    position: absolute;
    margin: 120px 850px;
    width: 300px;
    height: 450px;
    flex-shrink: 0;
    border-radius: 15px;
}
.card img{
    background-size: contain;
    position: absolute;
    margin: 0 10px;
    width: 280px;
    height: 299px;
    flex-shrink: 0;
    border-radius: 15px;
}

.Name{
    position: absolute;
    margin: 320px 13px;
    color: var(--gray-500, #71717A);
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.Ethnicity{
    position: absolute;
    margin: 320px 180px;
    color: var(--gray-500, #71717A);
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; 
}

.Isabell{
    position: absolute;
    margin: 338px 13px;
    color: var(--base-white, #FFF);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
}

.Hispanic{
    position: absolute;
    margin: 338px 180px;
    color: var(--base-white, #FFF);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
}

.Proceed{
    display: flex;
    width: 300px;
    height: 55px;
    padding: 16px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    position: absolute;
    margin: 520px 850px;
    border-radius: 5px;
    border: 2px solid var(--base-white, #FFF);
    background-color: transparent;
    color: #FFFFFF;
    cursor: pointer;
}
/* Box Card ends here */

/* Second Word Paragraph begining */
.jumbo {
    position: absolute;
    margin: 670px auto ;
    right: center;
    width: 100%;
    height: 235px;
    flex-shrink: 0;
}

.jumboed {
    color: var(--gray-100, #F4F4F5);
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.line2{
    position: absolute;
    top: 120px;
    margin: auto 300px;
    width: 55%;
    height: 1px;
    flex-shrink: 0;
    background-color: #f4f4f59a;
}

.Info{
    display: flex;
    position: relative;
    top: 150px;
    width: 1240px;
    height: 189px;
    flex-direction:row;
    justify-content: center;
    flex-shrink: 0;
    text-align: center;
    font-size: 80px;
    font-style: normal;
    font-weight: 900;
    line-height: 106px; /* 132.5% */
    background: linear-gradient(141deg, #FF3337 0%, #F8CA53 31.77%, #009A8F 68.67%, rgba(255, 255, 255, 0.00) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* End of second word */

/* Start of 3 Container */
.locations-Container{
    position: absolute;
    width: 80%;
    height: 600px;
    top: 400px;
    margin: auto 120px;
    align-items: center; 
    flex-shrink: 0
}

.Saudi-Arabia{
    position: absolute;
    width: 22%;
    height: 400px;
    margin: 160px 150px;
    border-radius: 5%;
    background: red;
}

.Dome-1{
    position: absolute;
    width:100%;
    height: 100%;
    border-radius: 5%;
}
.Country-1{
    position: absolute;
    margin: 420px auto;
    width: 68px;
    height: 20px;
    flex-shrink: 0;
    color: var(--gray-500, #71717A);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}
.Days-1{
    position: absolute;
    margin: 420px 200px;
    width: 68px;
    height: 20px;
    flex-shrink: 0;
    color: var(--gray-500, #71717A);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
}
.Location-1{
    position: absolute;
    margin: 450px auto;
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    color: var(--base-white, #FFF);
    font-size: 15px;
    font-style: normal;
    font-weight: bold;
    line-height: 24px;
}

.Time-1{
    position: absolute;
    margin: 450px 200px;
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    color: var(--base-white, #FFF);
    font-size: 15px;
    font-style: normal;
    font-weight: bold;
    line-height: 24px;
}

.Activies-1{
    position: absolute;
    margin: 500px auto;
    display: flex;
    width: 100%;
    height: 49.841px;
    padding: 16px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 5px;
    color: white;
    background-color: transparent;
    border: 2px solid white; /* Change #000 to the desired stroke color */    
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
    cursor: pointer;
}

/* number 2 */

.Dome-2{
    position: absolute;
    left: 335px;
    width:100%;
    height: 100%;
    border-radius: 5%;
}
.Country-2{
    left: 335px;
    position: absolute;
    margin: 420px auto;
    width: 68px;
    height: 20px;
    flex-shrink: 0;
    color: var(--gray-500, #71717A);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}
.Days-2{
    position: absolute;
    margin: 420px 200px;
    width: 68px;
    height: 20px;
    left: 335px;
    flex-shrink: 0;
    color: var(--gray-500, #71717A);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
}
.Location-2{
    position: absolute;
    margin: 450px auto;
    width: 100px;
    left: 335px;
    height: 100px;
    flex-shrink: 0;
    color: var(--base-white, #FFF);
    font-size: 15px;
    font-style: normal;
    font-weight: bold;
    line-height: 24px;
}

.Time-2{
    position: absolute;
    margin: 450px 200px;
    width: 100px;
    height: 100px;
    left: 335px;
    flex-shrink: 0;
    color: var(--base-white, #FFF);
    font-size: 15px;
    font-style: normal;
    font-weight: bold;
    line-height: 24px;  
}

.Activies-2{
    position: absolute;
    margin: 500px auto;
    display: flex;
    left: 335px;
    width: 100%;
    height: 49.841px;
    padding: 16px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 5px;
    color: white;
    background-color: transparent;
    border: 2px solid white; /* Change #000 to the desired stroke color */    
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
    cursor: pointer;
}

/* number 3 */

.Dome-3{
    position: absolute;
    left: 670px;
    width:100%;
    height: 100%;
    border-radius: 5%;
}
.Country-3{
    left: 670px;
    position: absolute;
    margin: 420px auto;
    width: 68px;
    height: 20px;
    flex-shrink: 0;
    color: var(--gray-500, #71717A);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}
.Days-3{
    position: absolute;
    margin: 420px 200px;
    width: 68px;
    height: 20px;
    left: 670px;
    flex-shrink: 0;
    color: var(--gray-500, #71717A);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
}
.Location-3{
    position: absolute;
    margin: 450px auto;
    width: 100px;
    left: 670px;
    height: 100px;
    flex-shrink: 0;
    color: var(--base-white, #FFF);
    font-size: 15px;
    font-style: normal;
    font-weight: bold;
    line-height: 24px;
}

.Time-3{
    position: absolute;
    margin: 450px 200px;
    width: 100px;
    height: 100px;
    left: 670px;
    flex-shrink: 0;
    color: var(--base-white, #FFF);
    font-size: 15px;
    font-style: normal;
    font-weight: bold;
    line-height: 24px;
}

.Activies-3{
    position: absolute;
    margin: 500px auto;
    display: flex;
    left: 670px;
    width: 100%;
    height: 49.841px;
    padding: 16px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 5px;
    color: white;
    background-color: transparent;
    border: 2px solid white; /* Change #000 to the desired stroke color */    
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
    cursor: pointer;
}
/* End of 3 container */

/* Tier Plan */
.Plan h1 {
    position: absolute;
    margin: 840px 290px;
    background: linear-gradient(141deg, #FF3337 0%, #F8CA53 31.77%, #009A8F 68.67%, rgba(255, 255, 255, 0.00) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 90px;
    font-style: normal;
    font-weight: 800;
    line-height: 106px; /* 132.5% */
}

.line{
    position: absolute;
    margin: 1130px 30%;
    position: absolute;
    top: 120px;
    width: 35%;
    height: 1px;
    flex-shrink: 0;
    background-color: #f4f4f59a;
}

/* End of teir Plan */

/* start of boxes */

.Container-Plan{
    position: absolute;
    margin: 1050px 60px;
    width: 1100px;
    height: 900px;
    flex-shrink: 0;
}

.teir-1{
    position: absolute;
    scale: 70%;
    left: -50px;
    margin: 7% 1%;
    width: 452px;
    height: 776px;
    flex-shrink: 0; 
    border-radius: 19px;
    border: 1px solid #FFF;
}

.teir-1 ul {
    position: relative;
    margin: 10% auto;
    display: flex;
    width: 415px;
    height: 328px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 55px; /* 392.857% */
}

.teir-1 h2 {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 106px; /* 530% */
}
.teir-1 h1 {
    position: relative;
    margin: auto;
    display: flex;
    width: 122px;
    height: 46px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 106px; /* 265% */
}

.teir-1 h3 {
    position: relative;
    margin: auto;
    width: 61px;
    height: 21px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    display: flex;
    text-align: center;
    color: #646464;
    font-size: 10px;
    font-style: normal;
    font-weight: 800;
    line-height: 106px; /* 1060% */
}
.teir-1 button{
    position: absolute;
    margin: auto 10%;
    display: flex;
    top: 80%;
    width: 80%;
    height: 49.841px;
    padding: 16px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 5px;
    color: white;
    background-color: transparent;
    border: 2px solid white; /* Change #000 to the desired stroke color */    
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 150% */
    cursor: pointer;
}

/* teir-2 */
.teir-2{
    position: absolute;
    scale: 70%;
    left: 23%;
    margin: 7% 7%;
    width: 452px;
    height: 776px;
    flex-shrink: 0; 
    border-radius: 19px;
    border: 1px solid #FFF;
}

.teir-2 ul {
    position: relative;
    margin: 10% auto;
    display: flex;
    width: 415px;
    height: 328px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 55px; /* 392.857% */
}

.teir-2 h2 {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 106px; /* 530% */
}
.teir-2 h1 {
    position: relative;
    margin: auto;
    display: flex;
    width: 122px;
    height: 46px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 106px; /* 265% */
}

.teir-2 h3 {
    position: relative;
    margin: auto;
    width: 61px;
    height: 21px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    display: flex;
    text-align: center;
    color: #646464;
    font-size: 10px;
    font-style: normal;
    font-weight: 800;
    line-height: 106px; /* 1060% */
}
.teir-2 button{
    position: absolute;
    margin: auto 10%;
    display: flex;
    top: 80%;
    width: 80%;
    height: 49.841px;
    padding: 16px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 5px;
    color: white;
    background-color: transparent;
    border: 2px solid white; /* Change #000 to the desired stroke color */    
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 150% */
    cursor: pointer;
}

/* teir-3 */

.teir-3{
    position: absolute;
    scale: 70%;
    left: 50%;
    margin: 7% 13%;
    width: 452px;
    height: 776px;
    flex-shrink: 0; 
    border-radius: 19px;
    border: 1px solid #FFF;
}

.teir-3 ul {
    position: relative;
    margin: 10% auto;
    display: flex;
    width: 415px;
    height: 328px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 55px; /* 392.857% */
}

.teir-3 h2 {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 106px; /* 530% */
}
.teir-3 h1 {
    position: relative;
    margin: auto;
    display: flex;
    width: 122px;
    height: 46px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 106px; /* 265% */
}

.teir-3 h3 {
    position: relative;
    margin: auto;
    width: 61px;
    height: 21px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    display: flex;
    text-align: center;
    color: #646464;
    font-size: 10px;
    font-style: normal;
    font-weight: 800;
    line-height: 106px; /* 1060% */
}
.teir-3 button{
    position: absolute;
    margin: auto 10%;
    display: flex;
    top: 80%;
    width: 80%;
    height: 49.841px;
    padding: 16px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 5px;
    color: white;
    background-color: transparent;
    border: 2px solid white; /* Change #000 to the desired stroke color */    
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 150% */
    cursor: pointer;
}
/* End of boxes */
.TM{
    display: flex;
    position: absolute;
    margin: 900px auto;
    width: 1100px;
    height: 247px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}

.TM p {
    color: #FFF;
    text-align: center;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: 55px; /* 183.333% */
}
 .TM a {
    text-decoration: none;
    color: white;
    transition: rgb(233, 132, 132) 0.55 ease;
 }
.TM a:hover{
    color: green;
}

.linux{
    position: absolute;
    margin: auto 300px;
    top: -50px;
    width: 476px;
    height: 2px;
    background: #71717A;
}
/* Footer */

.footer{
    position: absolute;
    margin: 1200px auto;
    width: 100%;
    height: 100px;
    flex-shrink: 0;
    background: #101011;
}

.Nev ul {
    position: relative;
    margin: -25px auto;
    display: flex;
    width: 490px;
    height: 100px;
    flex-direction: row;
    justify-content: space-between;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 800;
    line-height: 110px;
}

.lens-1{
    position: relative;
    margin: -70px 260px;
    width: 2px;
    height: 50px;
    background: #71717A;
}

.lens-2{
    position: relative;
    margin: 1.5% 260px;
    left: 51%;
    width: 2px;
    height: 50px;
    background: #71717A;
}

.footer a{
    text-decoration: none;
    color: #F4F4F5;
}

.footer a i{
    position: relative;
    left: 80%;
    bottom: -57px;
    width: 35px;
    height: 34px;
    flex-shrink: 0;
    text-decoration: none;
}
 .footer img{
    position: absolute;
    margin: -8.7% auto;
    width: 250px;
    height: 150px;
    flex-shrink: 0;
 }



